.body{
  display : flex;
  justify-content: center;
  align-items : center;
  font-family : "Roboto";
}
.outerRectangle{
  height : 450px;
  width : 312px;
  border-radius: 15px;
  background-color: #efbb41;
  display : flex;
  justify-content: center;
  align-items : center;
}
.rectangle{
  height : 422px;
  width : 262px;
  border-radius : 15px;
  background-color: #ffff8a;
  padding-left : 15px;
  padding-right : 15px;
}
.top{
  display : flex;
  justify-content : space-between;
  align-items : center;
}
#numSize {
  font-size: 32px; 
  font-weight: bold;
}

#hpSize{
  font-size : 12px;
}
.image-center{
  display : flex;
  justify-content : center;
}

img {
    border-radius : 15px;
  transition: box-shadow 0.3s ease;
}

img:hover {
  box-shadow: 0 4px 15px rgba(118, 110, 21, 0.3);
}
